In [3]:
import pandas as pd

# data = pd.read_csv('../datasets/imdb_subset1_group1_w_errors.csv')
# data = pd.read_csv('../datasets/weather_subset1_group1_w_errors.csv')
data = pd.read_csv('../datasets/medical_subset1_group1_w_errors.csv')

# data = pd.read_csv('../../TabularRedundancyPolluter/datasets/imdb_subset2_group2.csv')
# data = pd.read_csv('../../TabularRedundancyPolluter/datasets/weather_subset2_group2.csv')
# data = pd.read_csv('../../TabularRedundancyPolluter/datasets/medical_subset2_group2.csv')

uniques = {}
for column in data.columns:
    unique_values = data[column].unique()
    uniques[column] = unique_values

max_unique = max(len(values) for values in uniques.values())
unique_frame = pd.DataFrame(columns=data.columns, index=range(max_unique))
for column, values in uniques.items():
    unique_frame[column] = pd.Series(values)

display(unique_frame)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,admission_type_desc,admission_source_desc,discharge_disposition_desc
0,2278392,82z2151,Caucasian,Female,5,80,25,6,I,1,...,No,No,No,No,No,No,NO,Not Available,Physician Referral,Not Mapped
1,149190,55629189,AfricanAmerican,Male,17,S9,1,1,7,3,...,Nu,NO,Nu,NO,Ch,Yes,>30,Emergency,Emergency Room,Discharged to home]
2,64410,86047875,Other,Ferna1e,23,s9,l,l,2,2,...,N0,N0,N0,Nu,Yes,Ch,No,Emerbency,Emergency Rome,Discharged fo homw
3,500364,82442376,6auca8ian,Ma1e,33,Bo,3,2,4,4,...,NO,Nu,NO,N0,Gli,Ye8,>8O,Urgent,Clinic Referral,Discharged te hope
4,16680,42519267,6aocasian,"Female,",40,S8,2,3,1,5,...,No-,"No,","No,","No,",NO,Nu,<30,Elective,Emerrgency oom,Discharged to home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20349,71715132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20350,71726868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20351,71731212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20352,71740284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20353,71757270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# original data
original_data = pd.read_csv('../datasets/imdb_subset2_group2.csv')
print("Min:", original_data[['cast_id']][original_data.cast_id == original_data.cast_id.min()])
print("Max:", original_data[['cast_id']][original_data.cast_id == original_data.cast_id.max()])
#print("Min: ", original_data["cast_id"].min, " Max: ", original_data["cast_id"].min)

Min:          cast_id
164719  25231029
Max:          cast_id
199999  36044858